# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for review when someone opens a pull request.
* @lantiga @aniketmaurya @ethanwharris @justusschock @tchaton @andyland @k223kim @KaelanDt @dmitsf @Abdul-0x4A

# CI/CD and configs
/.github/       @andyland @dmitsf @Abdul-0x4A
*.yaml          @andyland @dmitsf @Abdul-0x4A
*.yml           @andyland @dmitsf @Abdul-0x4A

/README.md                           @williamfalcon @lantiga
/requirements.txt                    @williamfalcon
