name: Run parity tests

on:
  push:
    branches: [main, "release/*"]
  pull_request:
    branches: [main, "release/*"]

defaults:
  run:
    shell: bash

jobs:
  pytester:
    runs-on: ubuntu-latest

    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v5
      - name: Install uv and setup python
        uses: astral-sh/setup-uv@v6
        with:
          activate-environment: true
          python-version: "3.12"
          enable-cache: true

      - name: Install LitServe
        run: |
          uv sync --all-extras --dev
          uv pip compile pyproject.toml -o requirements.txt
          uv pip install torchvision jsonargparse uvloop tenacity -U -q
          uv pip list

      - name: Parity test
        run: export PYTHONPATH=$PWD && python tests/parity_fastapi/main.py

      - name: Streaming speed test
        run: bash tests/perf_test/stream/run_test.sh
