name: Run parity tests

on:
  push:
    branches: [main, "release/*"]
  pull_request:
    branches: [main, "release/*"]

defaults:
  run:
    shell: bash

jobs:
  pytester:
    runs-on: ubuntu-latest

    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install LitServe
        run: |
          pip --version
          pip install . torchvision jsonargparse tenacity -U -q -r _requirements/test.txt -U -q
          pip list

      - name: Parity test
        run: export PYTHONPATH=$PWD && python tests/parity_fastapi/main.py

      - name: Streaming speed test
        run: bash tests/perf_test/stream/run_test.sh
